<app-header title="Meus dados"></app-header>

<div class="mt-4">
  <form class="d-flex flex-column gap-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <app-input
      label="CPF"
      [control]="$any(userForm).controls['document']"
      mask="000.000.000-00"
      [required]="true">
    </app-input>

    <app-input
      label="Como quer ser chamado?"
      [control]="$any(userForm).controls['username']"
      placeholder="exemplo: paulo"
      [required]="true">
    </app-input>

    <app-input
      label="Seu telefone para contato"
      [control]="$any(userForm).controls['telephone']"
      mask="(00) 00000-0000"
      [required]="true">
    </app-input>

    <app-input
      label="Seu melhor e-mail"
      [control]="$any(userForm).controls['email']"
      type="email"
      placeholder="paulo@email.com.br">
      <small>(opcional)</small>
    </app-input>

    <app-input
      label="Data de nascimento"
      [control]="$any(userForm).controls['birth_date']"
      mask="00/00/0000"
      placeholder="10/03/1996">
    </app-input>

    <app-input
      label="Sexo"
      [control]="$any(userForm).controls['gender']"
      type="combo"
      [options]="genderOptions"
      placeholder="selecionar">
    </app-input>

    <app-button
      class="mt-4"
      label="SALVAR ALTERAÇÕES"
      [disabled]="!userForm.valid"
      (clicked)="onSubmit()">
    </app-button>
  </form>
</div>
