.trainings {

    .training-title {
      font-weight: 600;
    }
  
    h1 {
      font-size: 22px;
      color: white;
    }
  
    p {
      color: #FF8C42;
      font-size: 12px;
      font-weight: 600;
    }
  
    h1,
    p {
      font-family: "Poppins", sans-serif;
    }
  
    img {
      margin-left: 8px;
    }
  }
  