<ng-container *ngIf="homeMode; else defaultHeader">
  <header
    class="header-home d-flex align-items-center justify-content-between mb-3"
  >
    <div class="header-left">
      <h1 class="text-white font-family-poppins fw-bold">Oi, {{ currentUser.username }}!</h1>
      <p class="subtitle mb-0 text-white" *ngIf="!isAdmin">
        Persistência hoje, resultados amanhã.
      </p>
      <p class="subtitle mb-0 text-white" *ngIf="isAdmin">{{ currentUser.roles[0].name }}</p>

      <!-- <div class="d-flex align-items-center gap-3">
        <div class="points-item d-flex align-items-center gap-2">
          <img src="assets/icons/gold.svg" alt="Gold icon" class="icon" />
          <span>Gold</span>
          <img
            src="assets/icons/chevron-right.svg"
            alt="Chevron right"
            class="chevron"
          />
        </div>
  
        <div class="separator"></div>
        <div class="points-item">
          <img src="assets/icons/add-points.svg" alt="Points icon" class="icon" />
          <span>{{ currentUser.points }}</span>
          <img
            src="assets/icons/chevron-right.svg"
            alt="Chevron right"
            class="chevron"
          />
        </div>
      </div> -->
    </div>
    <div class="header-right">
      <i class="fas fa-solid fa-user fs-5" routerLink="/menu"></i>
    </div>
  </header>
</ng-container>

<ng-template #defaultHeader>
  <header class="header d-flex align-items-center flex-column w-100">
    <div class="d-flex w-100 justify-content-between mb-4">
      <div class="d-flex">
        <a
          (click)="goBack()"
          class="back-button"
          [routerLink]="routeNameBack ? routeNameBack : null"
        >
          <i class="fas fa-solid fa-chevron-left"></i>
        </a>
        <h1 class="header-title">{{ title }}</h1>
      </div>
      <i *ngIf="hasHome" [routerLink]="routeName" class="fa-solid fa-house"></i>
    </div>
  </header>
</ng-template>
