.btn-primary,
.btn-success,
.btn-secondary {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 8px;
}

.btn-primary {
  background-color: #f5a623;
  color: black;
}

.btn-secondary {
  background-color: transparent;
  color: #ff8000;
  border: 2px solid #ff8000;
  border-radius: 20px;
  align-items: center;
}

.btn-secondary img {
  filter: brightness(0) saturate(100%) invert(44%) sepia(100%) saturate(750%)
    hue-rotate(9deg) brightness(96%) contrast(97%);
}

.btn-success {
  background-color: #379100;
  color: white;
}

button:disabled {
  opacity: 0.5;
}
