<div
  class="card-container"
  [ngClass]="{ 'card-large': size === 'large', 'card-small': size === 'small' }"
>
  <img [src]="imageSrc" alt="Imagem de perfil" class="card-image w-100" />
  <div class="information d-flex justify-content-between flex-column">
    <h2 class="title fw-semibold">{{ title }}</h2>
    <div
      class="d-flex mt-3 align-items-center"
      [ngClass]="{
        'justify-content-between': duration,
        'justify-content-start': !duration
      }"
    >
      <p *ngIf="validity" class="text-center text-white font-family-poppins mb-0 fw-lighter">Validade: {{ validity }}</p>
      <div class="d-flex gap-1" *ngIf="duration">
        <i class="fas fa-solid fa-clock"></i>
        <p class="text-center text-white font-family-poppins mb-0 fw-lighter">
          {{ duration }}
        </p>
      </div>
      <div class="d-flex align-items-end" *ngIf="showButton">
        <app-button
          [label]="buttonLabel"
          buttonClass="btn-secondary"
        ></app-button>
      </div>
    </div>
  </div>
</div>
