<app-header title="Exercícios" routeNameBack="/dashboard"></app-header>
<div class="exercise-container w-100">
  <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>
  <app-button
    label="ADICIONAR EXERCÍCIOS"
    [addIcon]="true"
    (clicked)="newExercise()"
  ></app-button>
  <p class="mt-4">Exercícios cadastrados</p>
  <div class="mt-3">
    <app-card-exercise
      [exercises]="(filteredExercises$ | async)!"
      (exerciseClicked)="viewExercise($event)"
    ></app-card-exercise>
  </div>
</div>
