<div
  class="container-login h-100 d-flex flex-column justify-content-center align-items-center"
>
  <div class="d-flex">
    <a routerLink="/login">
      <img class="backButton" src="../../../assets/backButton.png"/>
    </a>

    <h1 class="text-center">Recuperar senha</h1>
  </div>
  

  <ng-container *ngIf="currentStep === 1">
    <img class="logo" src="../../../assets/logo/dwa-logo.svg"/>

    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <form [formGroup]="loginForm" class="d-flex flex-column gap-3">
        <app-input
          *ngIf="currentStep === 1"
          label="CPF"
          [required]="true"
          mask="000.000.000-00"
          [control]="$any(loginForm).controls['document']"
        ></app-input>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
      <div>
        <app-button (clicked)="onSubmit()"></app-button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep === 2">
    <h3 
      class="mb-4">
      Para recuperar sua senha basta confirmar seu número de telefone.
    </h3>
  
    <div class="phone-container">
      <span class="phone-confirm">(**) 9****-1032</span>    
    </div>

    <h4 class="mb-4">
      Não reconhece esse número?
    </h4>

    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <form [formGroup]="phoneForm" class="d-flex flex-column gap-3">
        <app-input
        label="Confirme seu telefone"
        [required]="true"
        mask="(00) 00000-0000"
        [control]="$any(phoneForm).controls['document']"
        ></app-input>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
      <div>
        <app-button (clicked)="onSubmit()"></app-button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep === 3">
    <h3 
      class="mb-5">
      Para recuperar sua senha basta confirmar seu número de telefone.
    </h3>

    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <form [formGroup]="passwordForm" class="d-flex flex-column gap-3 mt-5">
        <app-input
        label="Digite sua nova senha"
        [type]="passwordFieldType" 
        [required]="true"
        [control]="$any(passwordForm).controls['document']"
        ></app-input>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

        <app-input
        label="Confirme nova senha"
        [required]="true"
        [control]="$any(passwordForm).controls['document']"
        ></app-input>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
      <div>
        <app-button (clicked)="onSubmit()"></app-button>
      </div>
    </div>
  </ng-container>

</div>

<app-loading></app-loading>
