.container-login {
    h1,
    p {
      font-family: "League Spartan", sans-serif;
      color: white;
    }
    h1{
        margin-bottom: 90px;
    }
    h3{
        color: white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
    }
    h4{
        text-decoration: underline;
        color: #B8B8B8;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
    }

    .phone-confirm{

        color: white;
        font-size: 23px;
        font-weight: 500;
        line-height: 22px;
    }
  
    .error-message {
      color: red;
    }
  
    .forgot-password {
      text-decoration: underline;
    }

    .phone-container{
        width: 220px;
        height: 55px;
        background-color: #3A3A3A;
        padding: 16px 32px 16px 32px;
        border-radius: 8px;
    }
  
    .logo {
      width: 190px;
      margin-bottom: 90px;
    }
    .backButton{
        width: 22px;
        height: 22px;
        position: absolute;
        left: 10%;
    }
  }
  