<div
  class="container-reset-password h-100 d-flex flex-column justify-content-center align-items-center"
>
  <div class="d-grid header-container align-items-center w-100">
    <img
      [routerLink]="currentStep === 1 ? '/login' : null"
      class="header-button"
      src="assets/images/back-button.png"
      (click)="handleBackButtonClick()"
    />

    <h1 class="text-center">Recuperar senha</h1>

    <img
      *ngIf="currentStep !== 1"
      routerLink="/login"
      class="header-button"
      src="assets/images/home-button.png"
    />
  </div>

  <ng-container *ngIf="currentStep === 1">
    <img class="logo" src="assets/images/logo/dwa-logo.svg" />

    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <form [formGroup]="resetPasswordForm" class="d-flex flex-column gap-3">
        <app-input
          *ngIf="currentStep === 1"
          label="CPF"
          mask="000.000.000-00"
          [control]="$any(resetPasswordForm).controls['document']"
        ></app-input>
      </form>
      <div>
        <app-button (clicked)="onSubmit()"></app-button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep === 2">
    <h3 class="mb-4 text-center">
      Para recuperar sua senha basta confirmar seu número de telefone.
    </h3>

    <div class="phone-container">
      <span class="phone-confirm">(**) 9****-1032</span>
    </div>

    <h4 class="mb-4">Não reconhece esse número?</h4>

    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <form [formGroup]="phoneForm" class="d-flex flex-column gap-3">
        <app-input
          label="Confirme seu telefone"
          mask="(00) 00000-0000"
          [control]="$any(phoneForm).controls['phone']"
        ></app-input>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
      </form>
      <div>
        <app-button (clicked)="onSubmit()"></app-button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep === 3">
    <h3 class="mb-5">Digite e confirme sua nova senha</h3>

    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <form [formGroup]="passwordForm" class="d-flex flex-column mt-5">
        <app-input
          label="Digite sua nova senha"
          type="password"
          [control]="$any(passwordForm).controls['password']"
        ></app-input>

        <app-input
          label="Confirme nova senha"
          type="password"
          [control]="$any(passwordForm).controls['password_confirmation']"
        ></app-input>
        <p
          class="error-message"
          *ngIf="
            passwordForm.invalid && passwordForm.touched && passwordForm.errors
          "
        >
          {{ passwordForm.errors | onlyOneError }}
        </p>
      </form>
      <div>
        <app-button (clicked)="onSubmit()"></app-button>
      </div>
    </div>
  </ng-container>
</div>

<app-loading></app-loading>
