<ng-container *ngIf="exercises && exercises.length > 0">
  <div
    class="card-training d-flex justify-content-between align-items-center mb-3 gap-3"
    *ngFor="let exercise of exercises"
    [routerLink]="['/general/training', exercise.pivot?.training_id, 'exercise', exercise.id]"
  >
    <img src="assets/icons/arm-exercise.svg" />
    <div class="w-100">
      <p>{{ exercise.category }}</p>
      <h3>{{ exercise.name.toLocaleUpperCase() }}</h3>
    </div>
  </div>
</ng-container>
<p *ngIf="exercises?.length === 0" class="no-exercises">
  Sem exercícios disponíveis.
</p>
