.card-training {
  border-radius: 20px;
  padding: 8px 16px;
  height: 50px;

  h3 {
    font-size: 14px;
    color: #262525;
  }

  p {
    color: #888888;
    font-size: 8px;
  }

  img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(44%) sepia(100%) saturate(750%)
      hue-rotate(9deg) brightness(96%) contrast(97%);
  }
}