<div class="trainings">
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="training-title mb-3">TREINOS CADASTRADOS</h1>
      <p routerLink="/personal/trainings">
        Ver todos
        <img src="assets/icons/arrow.svg" alt="Seta" />
      </p>
    </div>
    <div class="d-flex flex-column gap-3">
      <ng-container *ngFor="let training of trainings$ | async">
        <app-card
          [title]="training.name.toLocaleUpperCase()"
          [duration]="getDuration(training.duration)"
          imageSrc="assets/images/default-training-profile.png"
          size="large"
          [routerLink]="['/general/training', training.id]"
          [showButton]="true"
        ></app-card>
      </ng-container>
    </div>
  </div>
  