<app-header title="Alunos"></app-header>

<div class="members-container">
  <div class="d-flex flex-column gap-3">
    <div
      class="member-card d-flex justify-content-between align-items-center"
      *ngFor="let member of members$ | async"
    >
      <div
        class="d-flex align-items-center gap-3"
        (click)="goToMemberView(member.id)"
      >
        <img
          [src]="
            member.profile_image || 'assets/images/default-user-profile.png'
          "
          alt="Foto do perfil"
          class="profile-pic"
        />
        <div class="member-details">
          <h2 class="mb-3 font-family-poppins text-white">{{ member.username }}</h2>
          <div class="contact-info d-flex flex-column gap-2">
            <span class="d-flex align-items-center gap-1 font-light font-family-poppins text-white">
              <i class="fas fa-phone me-2"></i>
              {{ member.telephone || "Não informado" }}
            </span>
            <span class="d-flex align-items-center gap-1 font-light font-family-poppins text-white">
              <i class="fas fa-envelope me-2"></i>
              {{ member.email || "Não informado" }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
