@import "../shared/styles/variables.scss";

h3 {
  font-size: 22px;
}

span {
  font-size: 16px;
}

.menu-items {
  background-color: $menu-background;
  border-radius: 16px;
}

.menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &:last-child {
    border-bottom: none;
  }
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.exit {
  color: red;
}
