<app-header title="Menu"> </app-header>
<div class="d-flex flex-column align-items-start mt-4">
  <h3>Oi, {{ (currentUser$ | async)?.username }}!</h3>

  <div class="menu-items w-100">
    <div class="menu-item d-flex align-items-center" routerLink="user-data">
      <img src="assets/icons/menu-user.svg" alt="Ícone usuário" class="menu-icon">
      <span>Meus dados</span>
    </div>

    <div class="menu-item d-flex align-items-center" routerLink="terms-security">
      <img src="assets/icons/menu-security.svg" alt="Ícone segurança" class="menu-icon">
      <span>Segurança</span>
    </div>

    <div class="menu-item d-flex align-items-center" routerLink="terms-privacy">
      <img src="assets/icons/menu-privacity.svg" alt="Ícone privacidade" class="menu-icon">
      <span>Privacidade</span>
    </div>

    <div class="menu-item d-flex align-items-center text-danger mt-auto" (click)="logout()">
      <img src="assets/icons/menu-exit.svg" alt="Ícone sair" class="menu-icon">
      <span>Sair</span>
    </div>
  </div>
</div>
