<app-header title="Menu"> </app-header>
<div class="d-flex flex-column align-items-start mt-4">
  <h3>Oi, {{ (currentUser$ | async)?.username }}!</h3>

  <div class="menu-items w-100">
    <div class="menu-item d-flex align-items-center" routerLink="user-data">
      <i class="fas fa-regular fa-user fs-3"></i>
      <span>Meus dados</span>
    </div>

    <div
      class="menu-item d-flex align-items-center"
      routerLink="terms-security"
    >
      <i class="fas fa-shield-halved fs-3"></i>
      <span>Segurança</span>
    </div>

    <div class="menu-item d-flex align-items-center" routerLink="terms-privacy">
      <i class="fas fa-lock fs-3"></i>
      <span>Privacidade</span>
    </div>

    <div
      class="menu-item d-flex align-items-center text-danger mt-auto"
      (click)="logout()"
    >
      <i class="exit fa-solid fa-arrow-right-from-bracket fs-3"></i>
      <span>Sair</span>
    </div>
  </div>
</div>
