.form-group {
  position: relative;

  label {
    font-family: "Poppins", sans-serif;
    color: #d9d9d9;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  input,
  select {
    height: 40px;
    padding: 0 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 14px;

    &:focus-visible {
      outline: none;
    }

    &:disabled {
      color: white;
    }
  }

  i {
    right: 20px;
  }

  p {
    color: red;
    margin-bottom: 0;
    font-size: 15px;
  }

  .input-container {
    position: relative;
    display: flex;
    align-items: center;

    ::ng-deep [icon] {
      position: absolute;
      right: 20px;
      width: 20px;
      height: 20px;
      pointer-events: none;
    }
  }
}

.borderless {
  input {
    border: none;
    background: transparent;
    padding: 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
