<div *ngIf="training$ | async as training">
  <app-header title="Treino"></app-header>
  <div class="d-flex w-100 justify-content-center">
    <div
      class="d-flex flex-column justify-content-between view-container w-100"
    >
      <div>
        <h3>{{ training.name.toLocaleUpperCase() }}</h3>
        <p class="mt-3">{{ training.description }}</p>
        
        <div *ngIf="isCurrentTrainingActive$ | async" class="mt-3">
          <h4>Tempo de treino: {{ elapsedTime$ | async }}</h4>
        </div>
      </div>

      <div class="mt-3" *ngIf="hasUserTraining(training.exercises)">
        <div *ngIf="(isOtherTrainingActive$ | async)" class="alert alert-warning text-center">
          Outro treino em andamento
        </div>

        <ng-container *ngIf="!(isOtherTrainingActive$ | async)">
          <app-button
            *ngIf="!(isTrainingStarted$ | async)"
            label="Começar"
            [icon]="'assets/icons/training-view/start.svg'"
            buttonClass="btn-primary w-100"
            (clicked)="onTrainingStart()"
          ></app-button>

          <div *ngIf="(isTrainingStarted$ | async)" class="d-flex flex-column gap-2">
            <div class="d-flex gap-2 align-items-center">
              <app-button
                [label]="(isPaused$ | async) ? 'Voltar' : 'Pausar'"
                [icon]="(isPaused$ | async) ? 'assets/icons/training-view/start.svg' : 'assets/icons/training-view/pause.svg'"
                buttonClass="btn-secondary"
                class="w-50"
                (clicked)="onTogglePause()"
              ></app-button>
              <app-button
                label="Reiniciar"
                [icon]="'assets/icons/training-view/restart.svg'"
                class="w-50"
                (clicked)="onTrainingRestart()"
              ></app-button>
            </div>
            
            <app-button
              label="Concluído"
              [icon]="'assets/icons/training-view/done.svg'"
              buttonClass="btn-success"
              class="w-100"
              [disabled]="!isAllExercisesCompleted(training.exercises)"
              (clicked)="onTrainingComplete()"
            ></app-button>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <h3 class="mt-5 mb-3">Exercícios</h3>

  <ng-container *ngIf="hasUserTraining(training.exercises); else regularExercises">
    <app-user-card-exercise
      [exercises]="training.exercises"
      [isInteractive]="(isTrainingStarted$ | async) === true"
      (exerciseCompleted)="onExerciseCompleted($event)"
    ></app-user-card-exercise>
  </ng-container>

  <ng-template #regularExercises>
    <app-card-exercise 
      [exercises]="training.exercises"
    ></app-card-exercise>
  </ng-template>
</div>

<div class="timer-container" *ngIf="showTimer$ | async">
  <span class="timer">{{ elapsedTime$ | async }}</span>
</div>
