<app-header title="Termos e Privacidade" [hasHome]="true"></app-header>
<div class="terms-container d-flex flex-column w-100">
  <h3 class="mb-2">Termos de Uso</h3>

  <div class="terms-section p-3">
    <h4>1. Apresentação</h4>
    <p>Bem-vindo ao aplicativo DWA, desenvolvido para a gestão de treinos e alunos de academias. Ao utilizar este aplicativo, você concorda com os presentes Termos de Uso. Caso discorde de qualquer condição, não utilize o aplicativo.</p>
  </div>

  <div class="terms-section p-3">
    <h4>2. Funcionalidades</h4>
    <p>O aplicativo DWA oferece funcionalidades como:</p>
    <ul>
      <li>Cadastro de alunos e gestão de treinos;</li>
      <li>Personalização de rotinas de treino;</li>
      <li>Acompanhamento de resultados e relatórios.</li>
    </ul>
  </div>

  <div class="terms-section p-3">
    <h4>3. Uso do Aplicativo</h4>
    <p><strong>Responsabilidades do Usuário:</strong></p>
    <ul>
      <li>Fornecer informações precisas e atualizadas;</li>
      <li>Não compartilhar suas credenciais de acesso com terceiros.</li>
    </ul>
    <p><strong>Restrições:</strong></p>
    <p>É proibido o uso do aplicativo para fins ilegais ou que infrinjam direitos de terceiros.</p>
  </div>

  <div class="terms-section p-3">
    <h4>4. Alterações nos Termos</h4>
    <p>Os Termos de Uso podem ser alterados a qualquer momento. O usuário será informado sobre mudanças por meio de uma mensagem exibida no aplicativo. É responsabilidade do usuário revisar as atualizações.</p>
  </div>

  <div class="terms-section p-3">
    <h4>5. Limitação de Responsabilidade</h4>
    <p>Não nos responsabilizamos por:</p>
    <ul>
      <li>Danos decorrentes do uso indevido do aplicativo;</li>
      <li>Erros ou interrupções causados por terceiros.</li>
    </ul>
  </div>
</div>
