@import "../../shared/styles/variables.scss";

.terms-container {
  padding: 1rem;
  color: white;
  font-family: "Poppins", sans-serif;

  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .terms-section {
    &:first-of-type {
      background-color: $terms-security-background;
      border-radius: 16px 16px 0 0;
    }

    &:last-of-type {
      background-color: $terms-security-background;
      border-radius: 0 0 16px 16px;
    }

    &:not(:first-of-type):not(:last-of-type) {
      background-color: $terms-security-background;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      list-style-type: disc;
      margin-left: 1.5rem;
      margin-bottom: 1rem;

      li {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    strong {
      font-weight: 600;
    }
  }
}
