.costumers-panel {
  &__header {
    .brand {
      h1 {
        font-size: 22px;
      }
    }

    .search {
      width: 300px;
    }
  }

  &__grid {
    swiper-slide {
      height: auto;
      flex-shrink: 0 !important;
    }
  }
}
