<section class="costumers-panel">
  <header class="costumers-panel__header d-flex justify-content-between align-items-center mb-4">
    <div class="brand d-flex align-items-center gap-3">
      <i class="fas fa-fire-flame-curved"></i>
      <h1 class="text-white font-family-poppins m-0 fw-semibold">ALUNOS CADASTRADOS</h1>
    </div>
  </header>

  <swiper-container
    class="costumers-panel__grid p-0"
    [config]="swiperConfig"
    [slidesPerView]="3"
    [spaceBetween]="15"
  >
    <swiper-slide *ngFor="let gymMember of filteredGymMembers$ | async">
      <app-card
        [title]="gymMember.username"
        [subtitle]="gymMember.telephone || 'Não informado'"
        [showButton]="false"
        imageSrc="assets/images/default-user-profile.png"
        size="small"
        [routerLink]="['/personal/gym-members', gymMember.id]"
      ></app-card>
    </swiper-slide>
  </swiper-container>
</section>
