.view-container {
  padding: 16px;
  background-color: white;
  border-radius: 20px;
  height: 90%;

  .information-container {
    grid-template-rows: 50px;
  }

  h3,
  p,
  h4 {
    font-family: "Poppins", sans-serif;
  }

  p {
    margin-bottom: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  h4 {
    font-size: 18px;
  }
}

.exercise-image-container {
  width: 100%;
  min-height: 200px;
  cursor: pointer;

  img {
    max-height: 300px;
    object-fit: contain;
  }
}

.edit-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
