<div class="h-100" *ngIf="exercise$ | async as exercise">
  <app-header
    [hasHome]="exerciseId > 1"
    routeName="/exercises"
    title="Exercício"
  ></app-header>
  <div class="view-container d-flex w-100 justify-content-center">
    <div
      class="d-flex flex-column justify-content-around w-100 align-items-start"
    >
      <div class="w-100 text-end d-flex align-items-center justify-content-center">
        <h3 class="text-center" *ngIf="!isEditMode">
          {{ exercise.name }}
        </h3>
        <img
          src="assets/icons/edit-icon.svg"
          class="edit-icon cursor-pointer"
          (click)="toggleEditMode()"
          *ngIf="!isEditMode"
          alt="Editar"
        />
      </div>
      <app-input
        *ngIf="isEditMode"
        [control]="$any(exerciseForm).controls['name']"
        inputClass="text-center text-dark"
        [borderless]="true"
        class="w-100"
      ></app-input>

      <div
        class="exercise-image-container border border-warning rounded d-flex flex-column justify-content-center align-items-center p-3 mb-3 position-relative text-center"
      >
        <img
          [src]="
            selectedFile
              ? imageUrl
              : exercise.image || 'assets/images/default-trained-muscles.png'
          "
          alt="Exercise Image"
          class="img-fluid rounded mb-2 w-100"
        />
        <div *ngIf="isEditMode">
          <input
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
            class="position-absolute w-100 h-100 top-0 start-0 opacity-0 cursor-pointer"
          />
        </div>
      </div>

      <div class="w-100">
        <h4 *ngIf="!isEditMode">Descrição:</h4>
        <p class="mt-2" *ngIf="!isEditMode">{{ exercise.description }}</p>
        <app-input
          *ngIf="isEditMode"
          label="Descrição"
          labelClass="text-dark"
          [control]="$any(exerciseForm).controls['description']"
          class="w-100"
        ></app-input>
      </div>

      <div class="w-100">
        <h4 *ngIf="!isEditMode">Músculos Trabalhados:</h4>
        <p class="mt-2" *ngIf="!isEditMode">{{ exercise.category }}</p>
        <app-input
          *ngIf="isEditMode"
          label="Músculos trabalhados"
          labelClass="text-dark"
          [control]="$any(exerciseForm).controls['category']"
          class="w-100"
        ></app-input>
      </div>

      <div class="w-100">
        <h4 *ngIf="!isEditMode">Equipamento:</h4>
        <p class="mt-2" *ngIf="!isEditMode">{{ exercise.equipment }}</p>
        <app-input
          *ngIf="isEditMode"
          label="Equipamento"
          labelClass="text-dark"
          [control]="$any(exerciseForm).controls['equipment']"
          class="w-100"
        ></app-input>
      </div>

      <div class="w-100 d-flex flex-column gap-2 mt-4">
        <app-button
          *ngIf="isEditMode"
          class="w-100"
          label="SALVAR"
          (click)="saveExercise()"
        ></app-button>

        <app-button
          *ngIf="isEditMode"
          class="w-100"
          label="CANCELAR"
          (click)="cancelEdit()"
          buttonClass="btn-secondary"
        ></app-button>

        <app-button
          class="w-100"
          *ngIf="hasNextExercise && !isEditMode"
          label="PRÓXIMO"
          [routerLink]="['/exercises', exerciseId + 1]"
        ></app-button>
      </div>
    </div>
  </div>
</div>
