// Colors
$primary-color: #F5A623;
$dark-grey-color: #1E1E1E;

// Background Colors
$background-default: #0F0F0F;

// Text Colors
$text-primary: $primary-color;

// Buttons
$button-primary: $primary-color;

// Menu
$menu-background: $dark-grey-color;
$terms-privacy-background: $menu-background;
$terms-security-background: $menu-background;

// Gym-member
$gym-members-list-background: $dark-grey-color;

// Actions-panel
$action-card-background: $primary-color;