<div
  class="container-reset-password h-100 d-flex flex-column align-items-center"
>
  <div
    class="header-container d-grid align-items-center w-100"
    [ngClass]="{ 'header-container-step-4': currentStep === 4 }"
  >
    <img
      *ngIf="currentStep < 4"
      [routerLink]="currentStep === 1 ? '/login' : null"
      class="header-button"
      src="assets/images/back-button.png"
      alt="Voltar"
      (click)="handleBackButtonClick()"
      aria-label="Voltar"
    />
    <h1 class="text-center">Recuperar senha</h1>
    <img
      *ngIf="currentStep > 1"
      routerLink="/login"
      class="header-button"
      src="assets/images/home-button.png"
      alt="Home"
      aria-label="Home"
    />
  </div>

  <div class="w-100 h-100 d-flex flex-column align-items-center">
    <ng-container [ngTemplateOutlet]="getCurrentStepTemplate()"></ng-container>
  </div>

  <app-loading></app-loading>

  <ng-template #firstStepTemplate>
    <img class="logo" src="assets/images/logo/dwa-logo.svg" alt="Logo" />
    <form
      [formGroup]="firstStepForm"
      class="w-100 h-100 d-flex flex-column justify-content-between"
    >
      <app-input
        label="CPF"
        mask="000.000.000-00"
        [control]="$any(firstStepForm).controls['document']"
      ></app-input>
      <p class="error-message" *ngIf="errorMessage$ | async as errorMessage">
        {{ errorMessage }}
      </p>
      <app-button text="Próximo" (clicked)="onSubmit()"></app-button>
    </form>
  </ng-template>

  <ng-template #secondStepTemplate>
    <h3 class="mb-4 text-center">
      Para recuperar sua senha basta confirmar seu número de telefone.
    </h3>
    <div class="phone-container">
      <span class="phone-confirm">{{ userPhone$ | async }}</span>
    </div>
    <h4 class="mb-4">Não reconhece esse número?</h4>
    <form
      [formGroup]="secondStepForm"
      class="w-100 h-100 d-flex flex-column justify-content-between"
    >
      <app-input
        label="Confirme seu telefone"
        mask="(00) 00000-0000"
        [control]="$any(secondStepForm).controls['telephone']"
      ></app-input>
      <p class="error-message" *ngIf="errorMessage$ | async as errorMessage">
        {{ errorMessage }}
      </p>
      <app-button text="Próximo" (clicked)="onSubmit()"></app-button>
    </form>
  </ng-template>

  <ng-template #thirdStepTemplate>
    <h1>Cheque sua caixa de mensagem!</h1>
    <p class="mt-3">{{ sentSmsMessage$ | async }}</p>
  </ng-template>

  <ng-template #fourthStepTemplate>
    <h3 class="mb-5">Digite e confirme sua nova senha</h3>
    <form
      [formGroup]="fourthStepForm"
      class="w-100 h-100 d-flex flex-column justify-content-between"
    >
      <div>
        <app-input
          label="Digite sua nova senha"
          type="password"
          [control]="$any(fourthStepForm).controls['password']"
        ></app-input>
        <app-input
          label="Confirme nova senha"
          type="password"
          [control]="$any(fourthStepForm).controls['password_confirmation']"
        ></app-input>
        <p
          *ngIf="
            fourthStepForm.invalid &&
            fourthStepForm.touched &&
            fourthStepForm.errors
          "
          class="error-message"
        >
          {{ fourthStepForm.errors | onlyOneError }}
        </p>
        <p class="error-message" *ngIf="errorMessage$ | async as error">
          {{ error }}
        </p>
        <p
          *ngIf="successMessage$ | async as success"
          class="sucess-message"
        >
          {{ success }}
        </p>
      </div>
      <app-button text="Salvar" (clicked)="onSubmit()"></app-button>
    </form>
  </ng-template>
</div>

<app-loading></app-loading>
