.container-reset-password {

  h1,
  p {
    font-family: "League Spartan", sans-serif;
    color: white;
  }

  h3,
  h4 {
    font-weight: 400;
  }

  h3 {
    color: white;
    font-size: 16px;
    line-height: 24px;
  }

  h4 {
    text-decoration: underline;
    color: #b8b8b8;
    font-size: 12px;
    line-height: 22px;
  }

  .header-container {
    margin-bottom: 90px;
    grid-template-columns: 20px 1fr 20px;
  }

  .header-container-step-4 {
    margin-bottom: 90px;
    grid-template-columns: 1fr 20px;
  }

  .phone-confirm {
    color: white;
    font-size: 23px;
    font-weight: 500;
    line-height: 22px;
    white-space: nowrap;
  }

  .phone-container {
    width: 220px;
    height: 55px;
    background-color: #3a3a3a;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
  }

  .logo {
    width: 190px;
    margin-bottom: 90px;
  }

  .header-button {
    width: 22px;
    height: 22px;
  }
}