<app-header title="Aluno"></app-header>

<div class="member-view-container p-3">
  <div class="member-card bg-white" *ngIf="member$ | async as member">
    <div class="d-flex w-100 h-100">
      <img
        [src]="'assets/images/default-user-profile.png'"
        [alt]="member.username"
        class="h-100"
      />
      <div class="member-info p-3">
        <h2 class="mb-4">{{ member.first_name }} {{ member.last_name }}</h2>
        <div class="d-flex flex-column gap-2">
          <p class="mb-0 d-flex align-items-center gap-1">
            <i class="fas fa-phone me-2"></i>
            {{ member.telephone }}
          </p>
          <p class="mb-0 d-flex align-items-center gap-1">
            <i class="fas fa-envelope me-2"></i>
            {{ member.email }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="mt-4 mb-3">Treinos Cadastrados</h3>
  <ng-container *ngIf="trainings$ | async as trainings">
    <div class="trainings-container d-flex flex-column gap-4">
      <ng-container *ngIf="trainings.length > 0; else noTrainings">
        <app-card
          *ngFor="let training of trainings"
          [title]="training.name.toLocaleUpperCase()"
          [duration]="
            formatDuration(
              training.last_duration || training.duration.toString()
            )
          "
          imageSrc="assets/images/default-training-profile.png"
          size="large"
          [routerLink]="[
            '/general/training',
            training.origin_trainingID || training.id
          ]"
          [showButton]="true"
        ></app-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noTrainings>
    <p class="text-white">Nenhum treino cadastrado para este aluno.</p>
  </ng-template>
</div>
