.btn-primary {
  background-color: #f5a623;
  color: black;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  color: #ff8000;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  border: 2px solid #ff8000;
  border-radius: 20px;
  padding: 7px 16px;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
}

.btn-secondary img {
  filter: brightness(0) saturate(100%) invert(44%) sepia(100%) saturate(750%) hue-rotate(9deg) brightness(96%) contrast(97%);
}

button:disabled {
  background-color: #303437;
  color: #6C7072;
}
