.dashboard-cards {
    border-radius: 16px;
    grid-template-columns: 1fr 1fr 1fr;
  
    .card-dashboard {
      padding: 8px;
      border-right: 1px solid #E9E9E9;
  
      &:last-child {
        border-right: none;
      }
  
      .card-number {
        font-size: 28px;
        color: #4A4A4A;
      }
  
      .card-label {
        font-size: 8px;
        color: #888888;
      }
    }
  }
  