@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
html body,
div.not-logged-in,
div.logged-in {
  height: 100%;
}

div.not-logged-in {
  background-color: #0f0f0f;
}

div.logged-in {
  background-color: #333333;
}

div.not-logged-in,
div.logged-in {
  padding: 30px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin: 0 !important;
}

.error-message {
  color: red;
}

.sucess-message {
  color: lightgreen;
}

.error-message,
.sucess-message {
  margin-bottom: 0;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
