<div class="exercises-container">
  <ng-container *ngIf="exercises && exercises.length > 0">
    <div
      class="card-training d-flex justify-content-between align-items-center mb-3 gap-3 p-3"
      *ngFor="let exercise of exercises"
      (click)="onExerciseClick(exercise.id)"
    >
      <div class="d-flex align-items-center gap-3 w-100">
        <div class="exercise-info w-100 p-3">
          <h3 class="exercise-name">{{ exercise.exercise_name }}</h3>

          <div class="exercise-details d-flex gap-4 mt-3">
            <div class="detail-item text-center">
              <span class="value">{{ exercise.series }}</span>
              <span class="label">SERIES</span>
            </div>

            <div class="detail-item text-center">
              <span class="value" *ngIf="exercise.repetitions.length > 0"
                >{{ formatRepetitions(exercise.repetitions) }}</span
              >
              <span *ngIf="exercise.methodology" class="methodology">
                {{ formatMethodology(exercise.methodology) }}
              </span>
              <span class="label">MÉTODO</span>
            </div>

            <div class="detail-item text-center">
              <span class="value">{{ exercise.weight || 0 }}kg</span>
              <span class="label">CARGA</span>
            </div>
          </div>
        </div>

        <div class="exercise-status">
          <div
            class="checkbox"
            [class.checked]="isCompleted(exercise.id)"
            (click)="toggleExercise(exercise, $event)"
          >
            <i class="fas fa-check" *ngIf="isCompleted(exercise.id)"></i>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<p *ngIf="exercises?.length === 0" class="no-exercises">
  Sem exercícios disponíveis.
</p>
