<div class="form-group">
  <label *ngIf="label">{{ label }}</label>
  <div class="input-container">
    <ng-content select="[icon]" #content></ng-content>
    <input
      class="w-100"
      [placeholder]="placeholder"
      [required]="required"
      [formControl]="control"
      (input)="onInput($event)"
      [type]="
        type === 'password' ? (this.showPassword ? 'text' : 'password') : type
      "
      [mask]="mask"
      [name]="label"
      autocomplete="on"
      *ngIf="
        type == 'text' ||
        type == 'email' ||
        type == 'password' ||
        type == 'color' ||
        type == 'number' ||
        type == 'time'
      "
    />

    <img
      class="position-absolute"
      *ngIf="type === 'password'"
      [src]="
        showPassword
          ? 'assets/images/password-eye-on.png'
          : 'assets/images/password-eye-off.png'
      "
      (click)="this.showPassword = !this.showPassword"
      [attr.alt]="showPassword ? 'Hide password' : 'Show password'"
    />
  </div>

  <select
    class="form-control"
    *ngIf="type == 'combo'"
    [required]="required"
    [formControl]="control"
  >
    <option *ngFor="let option of options" [value]="option">
      {{ option }}
    </option>
  </select>

  <p *ngIf="control.errors && control.touched && control.invalid">
    {{ control.errors | onlyOneError }}
  </p>
</div>
