.form-group {
  height: 100px;
  label {
    font-family: "League Spartan", sans-serif;
    color: #d9d9d9;
    font-weight: bold;
  }

  input {
    height: 40px;
    padding: 16px;
    border-radius: 15px;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }

  img {
    margin-top: 7px;
    right: 40px;
  }

  p {
    color: red;
    margin-bottom: 0;
    font-size: 15px;
  }
}
