<div class="challenge-card mb-2 p-3">
  <div class="difficulty-container px-2 py-1 mb-2">
    <p class="text-center m-0">{{ "⭐".repeat(+challenge.difficulty) }}</p>
  </div>
  <h3 class="text-start mb-2">{{ challenge.name }}</h3>
  <p class="text-start mb-3">{{ challenge.description }}</p>

  <app-button
    *ngIf="!isAdmin"
    [label]="completed ? 'Concluído' : 'Concluir'"
    (clicked)="completeChallengeClick(challenge.id)"
    [buttonClass]="completed ? 'btn-success' : 'btn-secondary'"
    [disabled]="completed"
  ></app-button>
</div>
