<div
  class="challenge-card bg-white d-grid"
  [ngClass]="{
    'difficulty-advanced': challenge.difficulty === '3'
  }"
>
  <div class="d-flex flex-column justify-content-around p-3">
    <div
      class="dificulty-container"
      [ngClass]="{
        'difficulty-beginner-tag': challenge.difficulty === '1',
        'difficulty-intermediate-tag': challenge.difficulty === '2',
        'difficulty-advanced-tag': challenge.difficulty === '3'
      }"
    >
      <p class="difficulty text-white text-center mb-0 fw-bold">
        {{
          challenge.difficulty === "1"
            ? "INICIANTE"
            : challenge.difficulty === "2"
            ? "INTERMEDIÁRIO"
            : "AVANÇADO"
        }}
      </p>
    </div>

    <h2 class="challenge-title mb-1 fw-bold font-family-poppins">{{ challenge.name.toUpperCase() }}</h2>

    <p class="challenge-description mb-1 font-family-poppins">
      {{ challenge.description }}
    </p>
  </div>

  <div class="challenge-image w-100 h-100 overflow-hidden">
    <img
      class="w-100 h-100"
      [src]="
        challenge.difficulty === '3'
          ? 'assets/backgrounds/challenge-hard-image.png'
          : 'assets/backgrounds/challenge-default-image.svg'
      "
      [alt]="challenge.name"
    />
  </div>
</div>
