@import '../../../../shared/styles/variables.scss';

.dashboard-actions {
    .action-card {
      background-color: $action-card-background;
      width: 110px;
      height: 74px;
      border-radius: 8px;
      padding: 8px;
    }
  
    .card-action-title {
      font-size: 12px;
      margin-top: 8px;
    }
  
    img {
      width: 20px;
      filter: invert(0%) brightness(0) saturate(100%);
    }
  }
  