<app-header
  [currentUser]="(currentUser$ | async)!"
  [isAdmin]="isAdmin"
  [homeMode]="true"
></app-header>
<div class="d-flex flex-column gap-4 mt-4">
  <ng-container *ngIf="userTrainings$ | async as userTrainings">
    <app-trainings-panel
      title="TREINO DO DIA"
      [trainings]="userTrainings"
      [showTodayTraining]="true"
      [showButton]="true"
    ></app-trainings-panel>

    <app-challenges-panel></app-challenges-panel>

    <app-trainings-panel
      title="MEUS TREINOS"
      [trainings]="userTrainings"
      [showButton]="true"
    ></app-trainings-panel>
  </ng-container>
</div>
