<header class="header">
  <div class="header-left">
    <h1>Oi, {{ (currentUser$ | async)?.username }}!</h1>
    <p class="subtitle">Persistência hoje, resultados amanhã.</p>

    <!-- <div class="points-container">
      <div class="points-item">
        <img src="assets/icons/gold.svg" alt="Gold icon" class="icon" />
        <span>Gold</span>
        <img
          src="assets/icons/chevron-right.svg"
          alt="Chevron right"
          class="chevron"
        />
      </div>

      <div class="separator"></div>
      <div class="points-item">
        <img src="assets/icons/add-points.svg" alt="Points icon" class="icon" />
        <span>{{ currentUser.points }}</span>
        <img
          src="assets/icons/chevron-right.svg"
          alt="Chevron right"
          class="chevron"
        />
      </div>
    </div> -->
  </div>
  <div class="header-right">
    <button class="icon-button" routerLink="/menu">
      <img src="assets/icons/user.svg" alt="User profile" class="icon" />
    </button>
  </div>
</header>
<div class="content-container mt-4">
  <div class="d-flex flex-column gap-2 mb-2">
    <div class="d-flex align-items-center gap-2">
      <img src="assets/icons/lit.svg" />
      <h3>TREINO DO DIA</h3>
    </div>
    <ng-container *ngFor="let training of userTrainings$ | async">
      <ng-container *ngIf="training.todayTraining">
        <app-card
          [title]="training.name.toLocaleUpperCase()"
          imageSrc="assets/images/default-training-profile.png"
          iconSrc="assets/icons/clock.svg"
          size="large"
          [routerLink]="['/members/trainings', training.id]"
        ></app-card>
      </ng-container>
    </ng-container>
  </div>
  <div class="d-flex flex-column gap-2 mt-3">
    <div class="d-flex align-items-center gap-2">
      <img src="assets/icons/lit.svg" />
      <h3>MEUS TREINOS</h3>
    </div>
    <ng-container *ngFor="let training of userTrainings$ | async">
      <ng-container *ngIf="!training.todayTraining">
        <app-card
          [title]="training.name.toLocaleUpperCase()"
          imageSrc="assets/images/default-training-profile.png"
          iconSrc="assets/icons/clock.svg"
          size="large"
          [routerLink]="['/members/trainings', training.id]"
        ></app-card>
      </ng-container>
    </ng-container>
  </div>
</div>
