@import "../../shared/styles/variables.scss";

.container-first-login {
  h1 {
    margin-bottom: 65px;
  }

  a {
    color: $text-primary;
  }

  span {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #policy-link {
    font-size: 0.75rem;
  }
}
