@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
html body {
  height: 100%;
}
html body {
  background-color: #0f0f0f;
  padding: 30px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin: 0 !important;
}

.error-message {
  color: red !important;
  margin-bottom: 0 !important;
}

.fas {
  color: #ff9349;
}

@import 'bootstrap/scss/bootstrap';
