<ng-container *ngIf="currentUser$ | async as currentUser">
  <div class="d-flex justify-content-between header">
    <div>
      <h1>Oi, {{ currentUser.username }}!</h1>
      <i>{{ currentUser.roles[0].name }}</i>
    </div>
    <div>
      <img src="assets/icons/user.svg" alt="ícone do usuário" />
    </div>
  </div>
  <div class="content d-flex flex-column gap-4">
    <div class="dashboard-cards d-grid align-items-center w-100">
      <div
        class="card-dashboard d-flex flex-column align-items-start text-center"
        *ngFor="let information of dashboardInformation"
      >
        <img [src]="information.icon" alt="Icone de tênis" />
        <span class="card-number">{{ information.value$ | async }}</span>
        <span class="card-label">{{ information.title }}</span>
      </div>
    </div>

    <div class="dashboard-actions w-100 d-flex justify-content-between">
      <div
        class="action-card justify-content-center d-flex flex-column"
        *ngFor="let action of dashboardActions"
      >
        <img [src]="action.icon" alt="Icone de tênis" />
        <span class="card-action-title">{{ action.title }}</span>
      </div>
    </div>
  </div>
</ng-container>
